
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --var-primary: #3A3A3A;
}
/* Common Css */
.container{
    width: 90%;
    margin: 2rem auto;
}
main > section{
    width: 90%;
    margin: 3rem auto;
}
.universal-font{
    font-family: "Poppins", sans-serif;
}
.d-flex{
    display: flex;
}
.btn-primary{
    color: white;
    background-color: #E02C6D;
    padding: 10px 12px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin: 1rem 0;
    transition: all 0.5s ease-in-out;
}
.btn-primary:hover{
    transform: scale(1.03);
    background-color: black;
}
/* This Here in Header Styles Start */
header{
    align-items: center;
    justify-content: space-between;
}
nav ul{
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
}
nav ul li a,
.logo{
    color: var(--var-primary);;
}
nav ul li a:hover{
    color: black;
}
nav ul li a,
.store,
.search{
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
}
.hero-section{
    justify-content: space-between;
    align-items: center;
}
.hero-content h1,p{
    width: 70%;
    color: var(--var-primary);
}
.hero-content p{
    font-weight: 500;
}
.hero-content button{
    border-radius: 10px;
}
.hero-content button i{
    margin-left: 5px;
}
.hero-img{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-img img{
    width: 100%;
}
.sponspors{
    justify-content: space-evenly;
    align-items: center;
    border-top: 1.5px solid #e9edf2;
    border-bottom: 1.5px solid #e9edf2;
    padding: 1.5rem 0;
}
.popular-section{
    margin: 3rem auto;
    width: 90%;
}
.popular-section h1{
    text-align: center;
    margin: 1.5rem;
    color: var(--var-primary);
    font-weight: 600;
}
.popular-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    gap: 1.5rem;
}
.p-card{
    width: 20rem;
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}
.p-img img{
    width: 100%;
}
.p-content h2{
    font-weight: 600;
    margin: 0.7rem 0;
    color: #18191F;
}
.p-content span{
    font-size: 1.4rem;
    color:#18191F;;
}
.p-icons{
    margin-top: 7px;
}
.p-icons i{
    color: red;
    font-size: 1rem;
}
.p-icons span{
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 7px;
    color: #787885;
}
.p-icons h5{
    color: #787885;
}
.seemore a{
    display: block;
    text-align: right;
    margin: 2rem 0;
    color: #E02C6D;
    font-weight: 600;
    margin-right: 3px;
}
.features-product{
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
.feature-content p{
    color: #6C6C6C;
    font-weight: 600;
    margin: 1rem 0 0 0;

}
.feature-img{
    width: 40rem;
}
.feature-img img{
    width: 100%;
}
footer{
    background-color: #0a0826;
    padding: 3.5rem 0 2rem;
}
.footer-section{
    justify-content: center;
    align-items: center;
}
.footer-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-content h2{
    color: white;
}
.footer-content p{
    color: #D9DBE1;
    text-align: center;
}
.footer-icons{
    text-align: center;
}
.footer-icons a{
    display: inline-block;
    background-color: rgba(237, 230, 230, 0.1);
    border-radius: 50%;
    width: 3rem;
    margin: 16px 5px;
}
.footer-icons a i{
    text-align: center;
    color: white;
    padding: 12px;
    font-size: 1.5rem;
    border-radius: 50%;
}
/* This Here in Header Styles End */
/* Responsive of Small Devices */
@media screen and (max-width:576px){
    main > section{
        width: 95%;
    }
    header,ul,
    .hero-section,
    .features-product{
        flex-direction: column;
        gap: 0.5rem 0;
    }
    .sotre,
    .search{
        padding: 3px;
    }
    .hero-img{
        width: 80%;
        margin: 0 auto;
    }
    .hero-content h1,p{
        width: 100%;
    }
    .sponspors{
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .popular-section{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .popular-cards{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    .p-card,
    .feature-img{
        width: 100%;
    }
}

/* Responsive for Medium Devices */
@media screen and (min-width:577px) and (max-width:768px){
    main > section{
        width: 95%;
    }
    header,
    .features-product{
        flex-direction: column;
        gap: 0.5rem 0;
    }
    .sotre,
    .search{
        padding: 3px;
    }
    .hero-img{
        width: 80%;
        margin: 0 auto;
    }
    .hero-content h1,p{
        width: 100%;
    }
    .sponspors{
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .popular-section{
        width: 100%;
        margin: 0 auto;
    }
    .popular-cards{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
    .p-card,
    .feature-img{
        width: 100%;
    }
    
}
/* Responsive for Larg Devices */
@media screen and (min-width:769px) and (max-width:992px) {
    header{
        width: 100%;
    }
        main > section{
        width: 95%;
    }
    .sotre,
    .search{
        padding: 3px;
    }
    .hero-img{
        width: 80%;
        margin: 0 auto;
    }
    .hero-content h1,p{
        width: 100%;
    }
    .popular-section{
        width: 100%;
        margin: 0 auto;
    }
    .popular-cards{
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }
    .p-card,
    .feature-img{
        width: 100%;
    }
    nav ul{
        gap: 0.4rem;
    }
}
/* Responsive for Extra large Devices */
@media screen and (min-width:993px) and (max-width:1200px) {
     .popular-section{
        width: 100%;
        margin: 0 auto;
    }
}


